#!/bin/bash

API_KEY="{{ DREAMHOST_API_KEY }}"

DOMAIN=$(expr match "$CERTBOT_DOMAIN" '.*\.\(.*\..*\)')

UUID=$(uuidgen)
recordName="_acme-challenge.${CERTBOT_DOMAIN}"
recordValue="${CERTBOT_VALIDATION}"

curl -sS "https://api.dreamhost.com/?cmd=dns-add_record&type=TXT&value=${recordValue}&comment=ssl-validation&record=${recordName}&key=${API_KEY}&unique_id=${UUID}"

sleep 30
